<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{{project.name}}/{{name}} API Documentation</title>

		<link href="{{pathPrefix}}/css/bootstrap.min.css" rel="stylesheet" />
		<link href="{{pathPrefix}}/css/api-meta.css" rel="stylesheet" />
		<link href="{{pathPrefix}}/css/code.css" rel="stylesheet" />
		<link href="{{pathPrefix}}/css/prism.css" rel="stylesheet" />

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script src="{{pathPrefix}}/js/jquery-1.11.0.min.js"></script>
		<script src="{{pathPrefix}}/js/bootstrap.min.js"></script>
		<script src="{{pathPrefix}}/js/api-meta.js"></script>
	</head>
	
	<body>
		<nav class="navbar navbar-fixed-top navbar-default api-project" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>-->
					<a class="navbar-brand" href="{{pathPrefix}}/index.html">{{project.name}}</a>
					<p class="navbar-text">API Documentation</p>
				</div>

				<!--<div class="collapse navbar-collapse" id="navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Help</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">v0.0.2 <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">v0.0.1</a></li>
								<li><a href="#">v0.0.0</a></li>
							</ul>
						</li>
					</ul>
				</div>-->
			</div>
		</nav>
		<!--<header class="api-project">
			<div class="container">
				{{#if project.version}}
					<small class="pull-right api-version">version {{project.version}}</small>
				{{/if}}

				<h2>{{project.name}} <small>API Documentation</small></h2>
			</div>
		</header>-->

		<div class="container">	
			<div class="row">
				<div class="col-md-9">